<div class="row mt-3">
  <div class="col-md-4">
    <span class="h3">
      Users
    </span>
    <small class="text-muted h6">Demo</small>
  </div>
  <div class="col-md-4">
    <div class="input-group mb-3">
      <input type="text" class="form-control" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Search</button>
      </div>
    </div>
  </div>
  <div class="col-md-4 text-right">
    <button type="button" class="btn btn-primary">
      <i class="fas fa-plus mr-1"></i>Add
    </button>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-12 ">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-primary ml-1">
              <i class="fas fa-trash mr-1"></i>Delete
            </button>
            <button type="button" class="btn btn-primary ml-1">
              <i class="fas fa-edit mr-1"></i>Edit
            </button>
            <button type="button" class="btn btn-primary ml-1">
              <i class="fas fa-arrow-right mr-1"></i>Move
            </button>
          </div>
          <div class="col-md-6 text-right">
            <button type="button" class="btn btn-primary ml-1">
              <i class="fas fa-file-export mr-1"></i>Export
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th class="w-1">
                <input type="checkbox" />
              </th>
              <th>Actions</th>
              <th>First</th>
              <th>Last</th>
              <th>Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>
                <input type="checkbox" />
              </th>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary">Edit</button>
                  <button
                    type="button"
                    class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                    data-toggle="dropdown"
                  >
                    <span class="sr-only">Edit</span>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Delete</a>
                  </div>
                </div>
              </td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th>
                <input type="checkbox" />
              </th>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary">Edit</button>
                  <button
                    type="button"
                    class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                    data-toggle="dropdown"
                  >
                    <span class="sr-only">Edit</span>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Delete</a>
                  </div>
                </div>
              </td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th>
                <input type="checkbox" />
              </th>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary">Edit</button>
                  <button
                    type="button"
                    class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                    data-toggle="dropdown"
                  >
                    <span class="sr-only">Edit</span>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Delete</a>
                  </div>
                </div>
              </td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
